*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    color: rgb(255, 74, 104);
    justify-content: center;
    align-items: center;
    display: flex;
}
body{
    background-color:aqua;
}